
    [data-aos="sm-fade-in"] {
      opacity: 0;
      transition-property: opacity, transform;
      transform: translate3d(0, 100px, 0);
    }

    [data-aos="sm-fade-in"].aos-animate {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    @media (min-width: 768px) {
      [data-aos="sm-fade-in"] {
        opacity: 0;
        transition-property: opacity, transform;
        transform: translate3d(0, 100px, 0);
      }
  
      [data-aos="sm-fade-in"].aos-animate {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }