/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url(./fonts/Montserrat-Regular.ttf) format("truetype");
  }
  
  @font-face {
    font-family: OpenSans;
    font-weight: 400;
    src: url(./fonts/OpenSans-Regular.ttf) format("truetype");
  }
  
  @font-face {
    font-family: OpenSans;
    font-style: italic;
    src: url(./fonts/OpenSans-Italic.ttf) format("truetype");
  }
  
  @font-face {
    font-family: Raleway;
    font-weight: 400;
    src: url(./fonts/Raleway-Regular.ttf) format("truetype");
  }
  
  @font-face {
    font-family: Raleway;
    font-weight: 700;
    src: url(./fonts/Raleway-Bold.ttf) format("truetype");
  }
}

@layer utilities {
  .darken:hover {
    filter: brightness(85%) contrast(115%);
  }

  @media (max-width:640px) {
    [data-aos="sm-fade-up"] {
      opacity: 0;
      transition-property: opacity, transform;
      transform: translate3d(0, 100px, 0);
    }

    [data-aos="sm-fade-up"].aos-animate {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @media (min-width: 640px) {
    [data-aos="bg-fade-in"] {
      transition-property: opacity, transform;
      transform: translate3d(0, 100px, 0);
    }

    [data-aos="bg-fade-in"].aos-animate {
      transform: translate3d(0, 0, 0);
    }
  }
}
